header
	a(href="/")
		img(src="/assets/img/icons/logo.svg" width="217" height="51")
	ul.nav
		li.tel
			a(href="tel:+79917073246")
				<svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M16.95 18C14.8667 18 12.8083 17.5458 10.775 16.6375C8.74167 15.7292 6.89167 14.4417 5.225 12.775C3.55833 11.1083 2.27083 9.25833 1.3625 7.225C0.454167 5.19167 0 3.13333 0 1.05C0 0.75 0.1 0.5 0.3 0.3C0.5 0.1 0.75 0 1.05 0H5.1C5.33333 0 5.54167 0.0791667 5.725 0.2375C5.90833 0.395833 6.01667 0.583333 6.05 0.8L6.7 4.3C6.73333 4.56667 6.725 4.79167 6.675 4.975C6.625 5.15833 6.53333 5.31667 6.4 5.45L3.975 7.9C4.30833 8.51667 4.70417 9.1125 5.1625 9.6875C5.62083 10.2625 6.125 10.8167 6.675 11.35C7.19167 11.8667 7.73333 12.3458 8.3 12.7875C8.86667 13.2292 9.46667 13.6333 10.1 14L12.45 11.65C12.6 11.5 12.7958 11.3875 13.0375 11.3125C13.2792 11.2375 13.5167 11.2167 13.75 11.25L17.2 11.95C17.4333 12.0167 17.625 12.1375 17.775 12.3125C17.925 12.4875 18 12.6833 18 12.9V16.95C18 17.25 17.9 17.5 17.7 17.7C17.5 17.9 17.25 18 16.95 18ZM3.025 6L4.675 4.35L4.25 2H2.025C2.10833 2.68333 2.225 3.35833 2.375 4.025C2.525 4.69167 2.74167 5.35 3.025 6ZM11.975 14.95C12.625 15.2333 13.2875 15.4583 13.9625 15.625C14.6375 15.7917 15.3167 15.9 16 15.95V13.75L13.65 13.275L11.975 14.95Z" fill="#1E71D9" />
				</svg>
				span  +7 991 707 32 46
		li.mail
			a(href="mailto:mail@svarkontrol.ru?subject=Заказ")
				<svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M10 0.5L19.05 5.9C19.35 6.08333 19.5833 6.33333 19.75 6.65C19.9167 6.96667 20 7.3 20 7.65V18.5C20 19.05 19.8042 19.5208 19.4125 19.9125C19.0208 20.3042 18.55 20.5 18 20.5H2C1.45 20.5 0.979167 20.3042 0.5875 19.9125C0.195833 19.5208 0 19.05 0 18.5V7.65C0 7.3 0.0833333 6.96667 0.25 6.65C0.416667 6.33333 0.65 6.08333 0.95 5.9L10 0.5ZM10 12.15L17.8 7.5L10 2.85L2.2 7.5L10 12.15ZM10 14.5L2 9.7V18.5H18V9.7L10 14.5Z" fill="#1E71D9" />
				</svg>
				span mail@svarkontrol.ru
		li.addr
			<svg width="16" height="20" viewBox="0 0 16 20" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M8 10C8.55 10 9.02083 9.80417 9.4125 9.4125C9.80417 9.02083 10 8.55 10 8C10 7.45 9.80417 6.97917 9.4125 6.5875C9.02083 6.19583 8.55 6 8 6C7.45 6 6.97917 6.19583 6.5875 6.5875C6.19583 6.97917 6 7.45 6 8C6 8.55 6.19583 9.02083 6.5875 9.4125C6.97917 9.80417 7.45 10 8 10ZM8 17.35C10.0333 15.4833 11.5417 13.7875 12.525 12.2625C13.5083 10.7375 14 9.38333 14 8.2C14 6.38333 13.4208 4.89583 12.2625 3.7375C11.1042 2.57917 9.68333 2 8 2C6.31667 2 4.89583 2.57917 3.7375 3.7375C2.57917 4.89583 2 6.38333 2 8.2C2 9.38333 2.49167 10.7375 3.475 12.2625C4.45833 13.7875 5.96667 15.4833 8 17.35ZM8 20C5.31667 17.7167 3.3125 15.5958 1.9875 13.6375C0.6625 11.6792 0 9.86667 0 8.2C0 5.7 0.804167 3.70833 2.4125 2.225C4.02083 0.741667 5.88333 0 8 0C10.1167 0 11.9792 0.741667 13.5875 2.225C15.1958 3.70833 16 5.7 16 8.2C16 9.86667 15.3375 11.6792 14.0125 13.6375C12.6875 15.5958 10.6833 17.7167 8 20Z" fill="#1E71D9" />
			</svg>		
			span г. Смоленск, ул. 25 Сентября, д. 20, пом. 6, оф. 11
		li.soc
			a.mail(href="mailto:mail@svarkontrol.ru?subject=Заказ")
				<svg width="33" height="34" viewBox="0 0 33 34" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M16.5 33.9307C25.6127 33.9307 33 26.5434 33 17.4307C33 8.31797 25.6127 0.930664 16.5 0.930664C7.3873 0.930664 0 8.31797 0 17.4307C0 26.5434 7.3873 33.9307 16.5 33.9307Z" fill="#2196F3" />
					<path d="M16.4961 18.2452L7.79883 13.9062V22.5275C7.80002 22.9646 7.97417 23.3834 8.28323 23.6925C8.59229 24.0015 9.01111 24.1757 9.44818 24.1769H23.5518C23.9889 24.1757 24.4077 24.0015 24.7168 23.6925C25.0258 23.3834 25.2 22.9646 25.2012 22.5275V13.9971L16.4961 18.2452Z" fill="white" />
					<path d="M16.5039 16.6159L25.2012 12.3711V12.3337C25.2 11.8966 25.0258 11.4778 24.7168 11.1687C24.4077 10.8597 23.9889 10.6855 23.5518 10.6843H9.44818C9.02117 10.6852 8.61103 10.8512 8.3036 11.1475C7.99618 11.4439 7.8153 11.8477 7.79883 12.2744L16.5039 16.6159Z" fill="white" />
				</svg>
			a.viber(href="viber://chat/?number=%2B79917073246")
				img(src="/assets/img/icons/viber.png" width="33" height="33")
			a.wa(href="https://api.whatsapp.com/send?phone=79917073246")
				img(src="/assets/img/icons/wa.png" width="33" height="33")
			a.tg(href="tg://resolve?domain=svarkontrol ")
				img(src="/assets/img/icons/tg.png" width="33" height="33")
ul.nav.main.mt1
	li.active
		a(href="/") Главная
	li
		a(href="/prodlist.html") Продукция
	li
		a(href="/services.html") Услуги
	li
		a(href="/delivery.html") Доставка и оплата
	li
		a(href="/contacts.html") Контакты



