block variables

#prodlist
	if (pageClass == 'index-page')
		h2 <span>каталог</span> продукции
	.list
		.item
			img(src="/assets/img/pages/index/prodlist/01.jpg" width="207" height="182" loading="lazy")
			.dsc
				a(href="/production/universalnyj_shablon_svarschika_ushs3_s_kalibrovkoj_otk/") Универсальный шаблон сварщика УШС-3 с калибровкой ОТК
				span.price 1230 р. с НДС
				button Заказать
		.item
			img(src="/assets/img/pages/index/prodlist/01.jpg" width="207" height="182" loading="lazy")
			.dsc
				a(href="/production/universalnyj_shablon_svarschika_ushs4_s_kalibrovkoj_otk/") Универсальный шаблон сварщика УШС-4 с калибровкой ОТК
				span.price 2700 р. с НДС
				button Заказать
		.item
			img(src="/assets/img/pages/index/prodlist/02.jpg" width="207" height="182" loading="lazy")
			.dsc
				a(href="/production/nabor_katetomerov_svarschika_kms316_s_kalibrovkoj_otk/") Универсальный шаблон сварщика УШС-4 с калибровкой ОТК
				span.price 1800 р. с НДС
				button Заказать
		.item
			img(src="/assets/img/pages/index/prodlist/02.jpg" width="207" height="182" loading="lazy")
			.dsc
				a(href="/production/nabor_katetomerov_svarschika_kms316_s_kalibrovkoj_otk/") Универсальный шаблон сварщика УШС-4 с калибровкой ОТК
				span.price 1800 р. с НДС
				button Заказать
				
