section#content
	include ../../ui/bread
	.content
		aside.mt1.mb1
			.head
				span продукция
			ul
				li
					a(href="#") Универсальный шаблонсварщика УШС-3 скалибровкой ОТК
				li
					a(href="#") Универсальный шаблонсварщика УШС-4 скалибровкой ОТК
				li
					a(href="#") Набор катетомеров сварщика(КМС-3-16) с калибровкой ОТК
				li
					a(href="#") Набор радиусных шаблонов(Универсальный шаблон сварщикаУШС-2) с калибровкой
				li
					a(href="#") Универсальный шаблон сварщика УШС-3 с ка­либ­ровкой (сертифицированная мет­ро­логи­чес­кая лаборатория)
				li
					a(href="#") Универсальный шаблон сварщика УШС-4 с ка­либ­ровкой (сертифицированная мет­ро­логи­чес­кая лаборатория)
				li
					a(href="#") Универсальный шаблон А.И. Кра­совс­ко­го УШК с ка­либ­ровкой (УШС-1)
				li
					a(href="#") Набор ка­тето­меров сварщика (КМС-3−16) с ка­либ­ровкой (сертифицированная мет­ро­логи­чес­кая лаборатория)
				li
					a(href="#") Универсальный шаблон сварщика V-WAC с калибровкой
				li
					a(href="#") Лента ох­ва­тыва­ющая «UFM» для точного измерения диаметров (циркометр)
		.cnt
			.prod.swiper
				.swiper-wrapper
					.swiper-slide
						img(src="/assets/img/pages/prod/slide/01.jpg" width="622" height="426")
					.swiper-slide.hidden
						img(src="/assets/img/pages/prod/slide/02.jpg" width="622" height="426")
					.swiper-slide.hidden
						img(src="/assets/img/pages/prod/slide/03.jpg" width="622" height="426")
				.swiper-pagination
				.swiper-button-next
				.swiper-button-prev
			
			h1.exo2 Универсальный шаблон сварщика УШС-3 с калибровкой ОТК
			.row
				span.price 1230 р. с НДС
				button.Primary Заказать

			.dsc.mt1.mb1
				.Box
					p Универсальный шаблон сварщика УШС-3 является не­об­хо­димым инс­тру­мен­том визуально-измерительного контроля при вы­пол­не­нии сварочных работ и включен в состав боль­шинс­тва комп­лек­тов ВИК.
				.Box
					span.h.blue ТЕХНИЧЕСКИЕ ХАРАКТЕРИСТИКИ
					p Универсальный шаблон сварщика УШС-3 может быть ис­поль­зо­ван на любых предп­ри­ятиях и организациях, где про­водят­ся сварочные работы, учебных центрах и пред­назна­чен для:	
