section#content
	include ../../ui/bread
	h1.h Контакты

	.content.mb1
		.Box
			.tel.mb1
				span Тел. +7 991 707 32 46
				ul.soc
					li
						img(src="/assets/img/icons/viber.png" width="20" height="20")
					li
						img(src="/assets/img/icons/wa.png" width="20" height="20")
					li
						img(src="/assets/img/icons/tg.png" width="20" height="20")
			p.b Электронная почта:
			ul.dot
				li mail@svarkontrol.ru
				li svarkontrol@gmail.com

			p.b Реквизиты ООО “Арвил”
			ul.dot
				li <span class="b">Юридический адрес:</span> 214019, Смоленская обл., г. Смоленск, ул. 25 Сентября, д. 20, пом. 6, оф. 11
				li <span class="b">ИНН:</span>  6732131108
				li <span class="b">КПП:</span> 673201001
				li <span class="b">ОКПО</span> 04067107
				li <span class="b">ОГРН</span> 1166733067544
			ul.dot.mt1
				li <span class="b">Р/с:</span> 40702810159000002228
				li в Смоленском отделении № 8609/003 ПАО Сбербанк
				li <span class="b">Адрес банка:</span> РФ, Смоленская область, г. Смоленск, ул. Н-Неман, 23
				li <span class="b">К/с:</span> 30101810000000000632
								

		iframe.map(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d123813.22610258691!2d31.942657970646867!3d54.78667682643644!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46ce543c05e6573b%3A0xdb294e72f01cc4bd!2z0KHQvNC-0LvQtdC90YHQuiwg0KHQvNC-0LvQtdC90YHQutCw0Y8g0L7QsdC7Liwg0KDQvtGB0YHQuNGP!5e0!3m2!1sru!2sby!4v1720531986810!5m2!1sru!2sby" width="100%" height="335" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade")