section#content
	include ../../ui/bread
	h1.h доставка и оплата

	.content.mb1
		.Box.b.mb1
			p Доставка заказов в течении 3-4 дней в  любую точку России курьерской службой доставки СДЭК: экспресс по России.
			p Доставку заказов на сумму от 60 000 Рос. руб. и более мы оплатим сами!
		.Box
			span.h Условия оплаты для юридических лиц
			p После получения от нас счета согласно Вашей заявки и согласования наличия, сроков изготовления и поставки товара можно оплатить универсальные шаблоны сварщика (УШС-3, УШС-2, УШК, V-WAC), катетомеры сварщика, циркометры путем перечисления денежных средств на р/с компании ООО “Арвил” в России.	
			p.b Реквизиты ООО “Арвил”
			ul.dot
				li <span class="b">Юридический адрес:</span> 214019, Смоленская обл., г. Смоленск, ул. 25 Сентября, д. 20, пом. 6, оф. 11
				li <span class="b">ИНН:</span>  6732131108
				li <span class="b">КПП:</span> 673201001
				li <span class="b">ОКПО</span> 04067107
				li <span class="b">ОГРН</span> 1166733067544
			ul.dot.mt1
				li <span class="b">Р/с:</span> 40702810159000002228
				li в Смоленском отделении № 8609/003 ПАО Сбербанк
				li <span class="b">Адрес банка:</span> РФ, Смоленская область, г. Смоленск, ул. Н-Неман, 23
				li <span class="b">К/с:</span> 30101810000000000632