section#content
	include ../../ui/bread
	h1.h <span class="blue">наша</span> ПРОДУКЦИЯ
	include ../../ui/prodlist

	.content.mb1
		.Box.b
			p Доставка заказов в течении 3-4 дней в  любую точку России курьерской службой доставки СДЭК: экспресс по России.
			p Доставку заказов на сумму от 60 000 Рос. руб. и более мы оплатим сами!