section#content
	include ../../ui/bread
	h1.h изготовление изделий по чертежам или образцам заказчика
	.banner
		img(src="/assets/img/pages/index/slide/01.jpg" height="282" width="100%" loading="lazy")
	.Box.mb1.mt1
		p Из­го­товим в короткие сроки любые изделия и нструмент по чертежам или образцам заказчика.
		p Сэкономим Ваше время и деньги.	
		img.mb1(src="/assets/img/pages/services/tools.jpg" loading="lazy")
		p Мы выполняем следующие работы:
		ul.dot
			li Токарно-фрезерная обработка
			li Лазерная резка
			li Шлифовка
			li Сверление
			li Высокоточная лазерная гравировка  шкал
			li Гальваническое  цинкование
		p Нанесение логотипа заказчика на нашу продукцию при заказе от 300 шт. (по желанию)
		p Наше собственное производство располагает материально-технической базой и специальным контрольно-измерительным оборудованием, в наличии техническая документация по всему спектру продукции